* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "HelveticaNeueWF", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

body {
  font-size:16px;
}

h2 {
  text-align: center;
}





/* Colours */

.black-background {
  background-color: black;
}

.grey-background {
  background-image: linear-gradient(rgba(128, 128, 128, 0.8),rgba(128, 128, 128, 0.8)), url("../../images/icons/TexturesCom_BarkDecidious0194_1_seamless_S.jpg");
}

.darkgrey-background {
  background-image: linear-gradient(rgba(250, 181, 112, 0.8),rgba(250, 181, 112, 0.8)), url("../../images/icons/TexturesCom_BarkDecidious0194_1_seamless_S.jpg");
}

.beige-background {
  background-image: linear-gradient(rgba(255, 228, 196, 0.8),rgba(255, 228, 196, 0.8)), url("../../images/icons/TexturesCom_BarkDecidious0194_1_seamless_S.jpg");
}

.khaki-background {
  background-image: linear-gradient(rgba(189, 183, 107, 0.8),rgba(189, 183, 107, 0.8)), url("../../images/icons/TexturesCom_BarkDecidious0194_1_seamless_S.jpg"); 
 }

 .green-background {
   background-color: green;
 }

 .blue-bakcground {
   background-color: blue;
 }

 .red-background {
  background-image: linear-gradient(rgba(138, 5, 0, 0.8),rgba(138, 5, 0, 0.8)), url("../../images/icons/TexturesCom_BarkDecidious0194_1_seamless_S.jpg"); 
 }

/* Cards display container classes */

.container {
  position:relative;
  padding: 10px 0px;
}

.endGameUp {
  position: absolute;
  top:0;
  width: 100%;
  height: 50%;
  pointer-events: none;

}

.endGameDown {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  pointer-events: none;
}

.winner {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  padding-top:5%;
  padding-left: 20%;
}

.loser {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  padding-top: 20%;
  padding-left: 30%;
}


.normal-display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.card-frame {
  position: relative;
  margin:14px;
  padding:5px;
  width: 178px;
  height: 248px; 
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-frame::before {
  content: "";
  position:absolute;
  background-image: url("../../images/icons/d5cbd1d96e743edd8bd2a5ee290fb6e5.png");
  background-size: 100% 100%;
  background-position: center;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 5px;
  pointer-events: none;
}


.card-frame .card-outer-border { margin: 0; }

.btn-position {
  padding-left: 45%;
  padding-top: 25px;
  padding-bottom: 35px;
}

.btn {
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  color:white;
  font-size: 0.9rem;
  margin-left: 25px;
}

.btn-red {
  background-color: rgb(216, 133, 127);
  color: rgb(77, 14, 14);
  border: 5px solid rgb(77, 14, 14);
}

.btn-green {
  background-color: rgb(202, 238, 202);
  color: rgb(0,100,0);
  border: 5px solid rgb(0,100,0);
}

/* Common Cards Properties */

.card-outer-border {
  margin: 17.5px;
  padding: 7px;
  display: inline-block;
  background-color: black;
  border-radius: 15px;
  border: 2.1px solid white;
}

.card-inner-border {
  padding: 3.5px;
  width: 150.5px;
  height: 220.5px;
  display: flex;
  flex-flow: column;
  justify-content: center;  
  align-items: center;
  border-radius: 10px;
}

.card-title {
  padding-top: 1%;
  padding-left: 10.5px;
  width:110%;
  height: 17.5px;
  align-self: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.56rem;
}

.card-img {
  width:100%;
  height: 122.5px;
  align-self: center;
  border: 1px solid black;
}

.card-type {
  padding-top: 1%;
  padding-left: 10.5px;
  width:110%;
  height: 17.5px;
  align-self: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.56rem;
}

.card-explanation {
  padding: 2.1px 7px;
  width:100%;
  height: 56px;
  font-size: 0.49rem;
  font-style: italic;
}

.card-section {
  padding: 25px 100px;
}

.card-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Player Selection Classes */

.player-character-table {
  position: relative;
  margin:14px;
  padding:5px;
  width: 178px;
  height: 248px; 
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.player-character-properties {
  margin-right: 40px;
  margin-left: 10px;
}

.player-character-table  .card-outer-border { margin: 0; }

.player-character-table::before {
  content: "";
  position:absolute;
  background-image: url("../../images/icons/character-border.png");
  background-size: 100% 100%;
  /* background-position: center; */
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -55px;
  z-index: 5px;
  pointer-events: none;
}

/* Characters Cards Properties */

.character-inner-border-color {
  background-image: linear-gradient(rgba(155, 250, 100, 0.5),rgba(155, 250, 100, 0.5)), url("../../images/Textures/seamless-1747007_1280.jpg");
}

.character-title-color {
  background-image: linear-gradient(rgba(206, 250, 170, 0.8),rgba(206, 250, 170, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border: 2px solid rgb(51, 63, 41);
}

.character-type-color {
  background-image: linear-gradient(rgba(206, 250, 170, 0.8),rgba(206, 250, 170, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border: 2px solid rgb(51, 63, 41);
}

.character-explanation-color {
  background-image: linear-gradient(rgba(217, 243, 197, 0.8),rgba(217, 243, 197, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border-right: 2px solid rgb(51, 63, 41);
  border-left: 2px solid rgb(51, 63, 41);
  border-bottom: 2px solid rgb(51, 63, 41);
}

/* Legendary Cards Properties */

.legendary-inner-border-color {
  background-image: linear-gradient(rgba(239, 184, 16, 0.5),rgba(239, 184, 16, 0.5)), url("../../images/Textures/seamless-1747007_1280.jpg");
}

.legendary-title-color {
  background-image: linear-gradient(rgba(255, 209, 54, 0.8),rgba(255, 209, 54, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border: 2px solid rgb(76, 59, 20);
}

.legendary-type-color {
  background-image: linear-gradient(rgba(255, 209, 54, 0.8),rgba(255, 209, 54, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border: 2px solid rgb(76, 59, 20);
}

.legendary-explanation-color {
  background-image: linear-gradient(rgba(255, 251, 99, 0.8),rgba(255, 251, 99, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border-right: 2px solid rgb(76, 59, 20);
  border-left: 2px solid rgb(76, 59, 20);
  border-bottom: 2px solid rgb(76, 59, 20);
}

/* Epic Cards Properties */

.epic-inner-border-color {
  background-image: linear-gradient(rgba(171, 42, 62, 0.5),rgba(171, 42, 62, 0.5)), url("../../images/Textures/seamless-1747007_1280.jpg");
}

.epic-title-color {
  background-image: linear-gradient(rgba(206, 118, 121, 0.8),rgba(206, 118, 121, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border: 2px solid rgb(84, 29, 34);
}

.epic-type-color {
  background-image: linear-gradient(rgba(206, 118, 121, 0.8),rgba(206, 118, 121, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border: 2px solid rgb(84, 29, 34);
}

.epic-explanation-color {
  background-image: linear-gradient(rgba(235, 186, 186, 0.8),rgba(235, 186, 186, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border-right: 2px solid rgb(84, 29, 34);
  border-left: 2px solid rgb(84, 29, 34);
  border-bottom: 2px solid rgb(84, 29, 34);
}

/* Normal Cards Properties */

.normal-inner-border-color {
  background-image: linear-gradient(rgba(187, 187, 187, 0.5),rgba(187, 187, 187, 0.5)), url("../../images/Textures/seamless-1747007_1280.jpg");
}

.normal-title-color {
  background-image: linear-gradient(rgba(221, 221, 221, 0.8),rgba(221, 221, 221, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border: 2px solid rgb(51, 51, 51);
}

.normal-type-color {
  background-image: linear-gradient(rgba(221, 221, 221, 0.8),rgba(221, 221, 221, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border: 2px solid rgb(51, 51, 51);
}

.normal-explanation-color {
  background-image: linear-gradient(rgba(238, 238, 238, 0.8),rgba(238, 238, 238, 0.8)), url("../../images/Textures/seamless-1747007_1280.jpg");
  border-right: 2px solid rgb(51, 51, 51);
  border-left: 2px solid rgb(51, 51, 51);
  border-bottom: 2px solid rgb(51, 51, 51);
}



/* Character Properties Classes */



 .creature-properties > .normal-display, .hability1-properties > .normal-display, .hability2-properties > .normal-display {
  justify-content: flex-start;
}

.player-character-properties > .normal-display {
  justify-content: space-between;
}

.creature-properties, .hability1-properties {
  margin-right: 50px;
}

.img-prop {
  margin: 5px;
  width:32px;
  height: 28px;
}

.mana .img-prop {
  margin-left: 12px;
  margin-right: 9.5px;
  width: 20px;
  height: 28px;
  vertical-align: center;
}

.total {
  width: 70px;
  height: 15px;
  border-radius: 10px;
  padding: 2px;
  margin: 5px;
}

.actual {
  height: 100%;
  border-radius: 10px;
}

.text-specs {
  margin:0 10px;
  font-size: 0.7rem;
}

.error {
  margin: 15px 100px;
  padding: 10px 10px;
  font-size: 0.8rem;
  font-style: italic;
  font-weight:bold;
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.warn {
  width: 40px;
  height: 40px;
}

.error p {
  margin-left: 25px;
  text-transform: uppercase;
}

.no-display {
  opacity: 0;
  pointer-events: none;
}

/* Deck class */

.deck {
  position: relative;
  /* margin: 75px 0px; */
  padding: 50px 0;
  background-image:linear-gradient( rgba(238, 238, 238, 0.1),rgba(238, 238, 238, 0.1)),url("../../images/icons/TexturesCom_Grungemaps0173_6_seamless_S.png");
  background-repeat: repeat;
  /* color:white; */
}

.deck::before {
  content: "";
  position: absolute;
  background-image: url("../../images/icons/skull-border.png");
  background-size: contain;
  background-repeat: repeat-x;
  top: -10px;
  height:50px;
  width: 100%;
}

.deck::after {
  content: "";
  position: absolute;
  background-image: url("../../images/icons/skull-border.png");
  background-size: contain;
  background-repeat: repeat-x;
  bottom: -22px;
  height:50px;
  width: 100%;
} 

#player1Table, #player2Table {  
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../images/icons/TexturesCom_WoodPlanksBare0186_1_seamless_S.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.not-showing {
  display: none;
}



